In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'Text' : ['This Pasta is Tasty', 'This Pasta is not Tasty', 'Pasta is delicious', 'I like pasta very much',
                             'Pasta is good but cost is little high', 'Pasta taste is good and affordable',
                             'Pasta taste is really nice however price is not an affordable'],
                   'Output' : [1,0,1,1,0,1,0]})

In [3]:
df

                                                Text  Output
0                                This Pasta is Tasty       1
1                            This Pasta is not Tasty       0
2                                 Pasta is delicious       1
3                             I like pasta very much       1
4              Pasta is good but cost is little high       0
5                 Pasta taste is good and affordable       1
6  Pasta taste is really nice however price is no...       0

In [4]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [5]:
tfidf = TfidfVectorizer()

In [6]:
tfidf.fit_transform(df['Text']).toarray()

array([[0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.35610686,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.31415703, 0.        , 0.        , 0.        , 0.62229144,
        0.62229144, 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.30234549,
        0.        , 0.        , 0.        , 0.        , 0.52834425,
        0.26672882, 0.        , 0.        , 0.        , 0.52834425,
        0.52834425, 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.84477641, 0.        , 0.        , 0.        , 0.40128351,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.35401182, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.56115953, 0.        , 0.56115953, 0.        , 0.        ,
        0.23515939, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.56115953],
       [0.        , 0.        , 0.        , 0.41640578, 0.41640578,
        0.        , 0.34565256, 0.41640578, 0.        , 0.3956    ,
        0.        , 0.41640578, 0.        , 0.        , 0.        ,
        0.17449891, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        ],
       [0.44571748, 0.        , 0.53695346, 0.        , 0.        ,
        0.        , 0.44571748, 0.        , 0.        , 0.25506225,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.2250156 , 0.        , 0.        , 0.44571748, 0.        ,
        0.        , 0.        ],
       [0.29085019, 0.35038566, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.35038566, 0.33287859,
        0.        , 0.        , 0.        , 0.35038566, 0.29085019,
        0.14683254, 0.35038566, 0.35038566, 0.29085019, 0.        ,
        0.        , 0.        ]])